body {
    font-family: Arial, Helvetica, sans-serif;
}

#stage {
    aspect-ratio: 16/5;
    background-color: lightblue;
    border-bottom: 4em solid #ddd;
    position: relative;
}

#elements {
    aspect-ratio: 16 / 5;
    border-bottom: 2px solid black;
    position: relative;
    overflow: hidden;
}

#red {
    width: 1em;
    height: 2em;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 72vw;
    border: 2px solid black;
    border-bottom: none;
    border-radius: 7px 7px 0 0;
}

#orange_container {
    position: absolute;
    bottom: 0;
    left: 63vw;   
}

#orange_sprite {
    width: 3em;
    height: 3em;
    background-color: orange;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    cursor: pointer;
}

#blue_container {
    position: absolute;
    bottom: 0;
    left: 40vw;

    perspective: 40vw;
    perspective-origin: bottom center;
}

#blue_sprite {
    width: 3.5em;
    height: 8em;
    background-color: cornflowerblue;
    border-radius: 3em 3em 0 0;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    cursor: pointer;
}

/* secondary sprite */
#yellow_sprite {
    width: 6px;
    height: 6px;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    right: 0;

    opacity: 0;
}

.beam #yellow_sprite {
    opacity: 1;

    animation-name: beam;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes beam {
    0% {
        transform: scale(0.5) rotate(00deg) translate(0px, 0px);
    }

    100% {
        transform: scale(1) rotate(30deg) translate(20px, 25px);
    }
}

/* tilt animation */

.tilt {
    transform-origin: bottom left;
    
    animation-name: tilt;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.untilt {
    transform-origin: bottom left;
    
    animation-name: tilt;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-fill-mode: backwards;
}

@keyframes tilt {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: -30deg;
    }
}

.fade_out {
    animation-name: fade_out;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade_out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.jump {
    animation-name: jump;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.jump-once {
    animation-name: jump;
    animation-duration: .3s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes jump {
    0% {
        translate: 0 0;
    }
    100% {
        translate: 0 -50%;
    }
}

.move-around {
    animation-name: move-around;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes move-around {
    0% {
        translate: 0 0;
        z-index: 0;    
    }

    49.9% {
        z-index: 0;
    }
    50% {
        translate: -600% 0;
        z-index: 1;
    }

    100% {
        translate: 0 0;
        z-index: 1;
    }
}

.move {
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% {
        translate: -55vw; 
    }
    100% {
        translate: 60vw;
    }
}

.fallover {
    transform-origin: bottom center;
    animation-name: fallover;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fallover {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(90deg);
    }
}

.paused {
    animation-play-state: paused;
}